<h1>レシピ一覧</h1>

<p><%= link_to "新しいレシピを作成", new_recipe_path %></p>

<% if @recipes.any? %>
  <table>
    <thead>
      <tr>
        <th>タイトル</th>
        <th>所要時間（分）</th>
        <th>作成日</th>
      </tr>
    </thead>
    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= link_to recipe.title, recipe %></td>
          <td><%= recipe.cook_time_minutes.present? ? recipe.cook_time_minutes : "未設定" %></td>
          <td><%= l recipe.created_at, format: :short %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>まだレシピが登録されていません。最初の1件を追加しましょう。</p>
<% end %>